$center: center;
$solid: solid;
$dashed: dashed;
$underline-color: #ebebeb;
$background-color: #f5f5f5;

.text-center {
    text-align: $center;
}
.p1 {
    padding: 10px;
}
.p2 {
    padding: 20px;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.border-b {
    border-bottom: 1px $solid $underline-color;
}
.weight400 {
    font-weight: 400;
}
.weight500 {
    font-weight: 500;
}
.weight700 {
    font-weight: 700;
}
.p-8-10 {
    padding: 8px 10px;
}
.grey-ground {
    background-color: $background-color
}
.inline-block {
    display: inline-block;
}
.block {
    display: block;
}
.inline-block {
    display: inline;
}
